alias sshMario="ssh -L 2222:mario.usask.ca:22 poa681@skorpio.usask.ca"
alias mountSchool="sshfs -p 2222 poa681@localhost:thesis/ ~/school"

alias python="python3"

alias ls="lsd"
alias ll="ls -la"

alias c="clear"

alias untar='tar -zxvf'

alias ..="cd .."

alias mkdir="mkdir -pv"

alias pip="pip3"